/*Подключаем шрифт OpenSans к сайту*/
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans.svg#OpenSans") format("svg");
}
/*Подключаем шрифт OpenSans-Bold к сайту*/
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
}
/*Подключаем шрифт OpenSans-Light к сайту*/
@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light") format("svg");
}
/*Подключаем шрифт OpenSans-Semibold к сайту*/
@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
}
/*Подключаем иконочный шрифт font-awesome к сайту*/
@font-face {
  font-family: "font-awesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font-awesome/font-awesome.eot?#iefix") format("embedded-opentype"), url("../fonts/font-awesome/font-awesome.woff2") format("woff2"), url("../fonts/font-awesome/font-awesome.woff") format("woff"), url("../fonts/font-awesome/font-awesome.ttf") format("truetype"), url("../fonts/font-awesome/font-awesome.svg#font-awesome") format("svg");
}

html, body {
font-family: "OpenSans", sans-serif;}

a{
	text-decoration: none;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;}


ul{padding: 0;
	margin: 0;}

.start{background: #F9F9F9;}

.over{
	width: 84%;
	margin: 0 auto;
	min-height: 25px;}

.zise{
	font-size: 1em;
	font-family: "OpenSans-Light", sans-serif;
	padding: 5px 0;
	color: #B6B6B6;
	padding-right: 6%;
	display: inline-block;}
.zise:hover{color: #39C5DE;}

.blockcols-first{
	opacity: 1;
	width: 78%;
	display: inline-block;
	position: relative;
	padding-right: 2%;}

.blockcols-second{
	width: 18%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	position: relative;}

/*===============START======================*/
.wrapper{
	position: relative;}

.wrapper:after{
	content: '';
	display: block;
	height: 40px;}

.blockcols-one{
	opacity: 1;
	width: 48%;
	display: inline-block;
	position: relative;
	padding-right: 2%;}

.blockcols-two{
	width: 48%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	position: relative;}

#header{
	width: 84%;
	margin: 0 auto;}

.name{
	padding: 20px 0;
	font-size: 2.4em;
	font-family: "OpenSans-Bold", sans-serif;
	color:#39C5DE;}

.name:hover i{
	color: black;}

.login img{width: 50px;}

.color{
	color:#C6C6C6;
	display: inline-block;}

.login{
	font-size: 1.2em;
	padding:20px 0;
}

.menu{
	width: 84%;
	margin: 0 auto;
	background: #39C5DE;}

.menu li{
	display: inline-block;
	list-style: none;
	background: #39C5DE;
	color: white;
	font-family: "OpenSans-Semibold", sans-serif;
	font-size: 1em;
	padding: 17px 12px;
	margin-right: -4px;
	border-right: 1px solid #30A9BE;}

.menu li:hover{background: #1D98AE;}
.menu li:hover i{color: black;}


.info{
	background: #F9FAFC;
	background: url(../img/80986e0ad03997ffe6a206f276c65176.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 640px;
	border-top: 2px solid #21ABC3;
	background-position: -119px 0;
	padding-bottom: 20px;
	}

.say{
	width: 628.36px;
	margin-top: 100px;
	padding-left: 42%;}

.first{
	font-family: "OpenSans-Light", sans-serif;
	font-size: 1.3em;
	color:#575757;
	padding: 20px 0;
	display: inline-block;}
 hr{
 	margin: 0;
    border: none;
    background-color: #ABABAB;
    color: #ABABAB;
    height: 2px !important;
    width: 150px;
   }

.second{
	font-family: "OpenSans-Bold", sans-serif;
	font-size: 2.8em;
	letter-spacing: -2px;
	color: #39C5DE;
	padding: 10px 0;
	padding-bottom: 0;}

.third{
	font-family: "OpenSans-Light", sans-serif;
	font-size: 1.5em;
	letter-spacing: -2px;
	color: #39C5DE;
	padding: 10px 0;}

.forth{
	font-family: "OpenSans-Light", sans-serif;
	font-size: 0.9em;
	color: #575757;
	padding: 5px 0;}

/*================specrt========================*/

.spectr{
	background: url(../img/ready.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 640px;
	padding-bottom: 20px;}

.box{
	padding-top: 7px;
	padding-bottom: 7px;}

.onemore{
	padding-top: 30px;	
	width: 84%;
	margin: 0 auto;}

.icon{
	width: 112px;
	display: inline-block;}

.icon i{
	color:#39C5DE;
	font-size: 7em;
	padding-right: 10px;}

.text{
	display: inline-block;
	width: 55%;
	vertical-align: top;}

.correct{ padding: 10px 0;}

/*=============Условия=======Обучения==============*/

#how{}

.center{  
	text-align: center; }

.first li{ 
	text-align: left;
	padding: 10px 0; }

/*===================FOOTER========================*/
.footer{
	background: #1D98AE;
	color: #fff;
	margin-top: -40px;
	width: 100%;}

.footerbox{
	width: 84%;
	margin: 0 auto;}

.patent{}

.up{padding: 20px 0;	
	font-family: "OpenSans-Light"}


.slicknav_menu{display: none;}


/*=================a================================*/

@media only screen and (max-width: 1260px){
	.spectr{background-position: -100px 0;}
}
@media only screen and (max-width: 1165px){
	.spectr{background-position: -190px 0;}
}

@media only screen and (max-width: 1125px){
	.say{padding-left: 32%;}
	.info{background-position: -305px 0;}}

@media only screen and (max-width: 1072px){
	.spectr{background-position: -300px 0;}
}

@media only screen and (max-width: 965px){
	.spectr{background-position: -400px 0;}
}


@media only screen and (max-width: 880px) {
	.say{
		text-align: center;
		padding-left: 0;
		margin: 0 auto;
		margin-top: 340px;
		background: #F2F1EF;
		border-radius: 25px;
		width: 90%;
	}

	.spectr{background-position: 0 0;}

	hr{margin: 0 auto;}

	.onemore{text-align: center;}
	.gran{width: 100% !important;}
	
}

@media only screen and (max-width: 768px){
	.blockcols-one{
		width: 100%;
		display: block;
		text-align: center;}

	.blockcols-two{
		width: 100%;
		display: block;
		text-align: center;}

	.up{padding: 10px 0;}

	.slicknav_menu 
	{
    display:block; /*включаем мобильное меню*/
	}
  
  /*Отключаем обычно меню для desktop*/
  	.nav__ul 
  	{
    display:none;
 	}
  img{width: 200px !important;}
}

@media only screen and (max-width: 580px)
{
	.text{width: 261px;}
}

@media only screen and (max-width: 425px)
{
	.onemore .second{font-size: 1.8em}
	.text{width: 100%;}
}





